.home_container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category{
    width: 80vw;
    overflow: hidden;
    margin-top: 5px;
}

.links {
  color: black;
}

.links h2,
.category p {
  margin: 0;
  padding-left: 20px;
  font-weight: normal;
}

.category p {
  color: rgb(179, 176, 176);
}
